---
import BaseHead from '@/components/BaseHead.astro';
import ButtonLink from '@/components/ButtonLink.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import Article from '@/components/home/the-lab-preview/article.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { ArrowRight } from 'lucide-react';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter(
    (blog) =>
      blog.data.pubDate.valueOf() < Date.now() && blog.data.status !== 'draft'
  );
const previewArticle = posts[0];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="The Lab" description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-rhino-50 text-rhino-950 dark:bg-rhino-950 dark:text-rhino-50">
    <div class="flex min-h-dvh flex-col justify-between">
      <div>
        <header
          class="w-full bg-inherit px-2 py-2 sm:px-4 md:bg-transparent md:px-8 lg:px-12 xl:px-16">
          <Header title={SITE_TITLE} />
        </header>
        <main class="my-4">
          <section
            class="hidden h-fit max-h-80 w-full gap-4 bg-gray-300 px-2 py-8 dark:bg-primary-950 sm:px-4 md:flex md:px-8 lg:px-12 xl:px-16">
            <div class="w-full space-y-4 md:w-1/2">
              <h1 class="text-4xl">
                {previewArticle.data.title}
              </h1>
              <p
                class="break-words md:line-clamp-2 md:overflow-hidden md:overflow-ellipsis lg:line-clamp-none lg:block lg:overflow-auto lg:[text-overflow:_auto]">
                {previewArticle.data.tldr}
              </p>
              <ButtonLink href={`/lab/${previewArticle.slug}`}>
                Read more <ArrowRight className="h-5 w-5 pl-1 font-bold" />
              </ButtonLink>
            </div>
            <div class="mx-auto max-h-full max-w-[50%]">
              <Image
                class="aspect-[7/4] max-h-64 w-auto"
                src={`/images/${previewArticle.slug}.webp`}
                alt={previewArticle.data.title}
                height="1456"
                width="832"
              />
            </div>
          </section>
          <section
            class="w-full px-2 sm:px-4 md:px-8 md:py-8 lg:px-12 xl:px-16">
            <ul class="grid grid-cols-1 gap-4 md:grid-cols-3">
              {
                posts.map((post) => (
                  <li class="w-full py-4 md:py-2">
                    <Article slug={post.slug} {...post.data} />
                  </li>
                ))
              }
            </ul>
          </section>
        </main>
      </div>
      {
        import.meta.env.DEV && (
          <div class="absolute bottom-0 right-0">
            <span class="sm:hidden">xs</span>
            <span class="hidden sm:block md:hidden">sm</span>
            <span class="hidden md:block lg:hidden">md</span>
            <span class="hidden lg:block xl:hidden">lg</span>
            <span class="hidden xl:block 2xl:hidden">xl</span>
            <span class="hidden 2xl:block">2xl</span>
          </div>
        )
      }
      <footer
        class="w-full bg-inherit px-2 py-2 sm:px-4 md:bg-transparent md:px-8 lg:px-12 xl:px-16">
        <Footer />
      </footer>
    </div>
  </body>
</html>
