---
import { type CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>['data'] & {
  slug: CollectionEntry<'blog'>['slug'];
};

const { title, pubDate, tldr, slug } = Astro.props;

const formattedDate = new Intl.DateTimeFormat('en-US', {
  dateStyle: 'full',
}).format(pubDate);

const absoluteLink = `/lab/${slug}`;
---

<div class="w-full md:max-w-[33%]">
  <h2 class="text-xl font-semibold">{title}</h2>
  <p class="mt-2 text-sm text-rhino-500">
    {formattedDate}
  </p>
  <p class="my-4 h-full min-w-0 text-wrap">
    {tldr}
  </p>
  <a
    href={absoluteLink}
    class="text-primary-600 underline dark:text-primary-500">
    Read more
  </a>
</div>
