---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, tldr, pubDate, updatedDate, estimate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={tldr} />
  </head>
  <body class="bg-rhino-50 text-rhino-950 dark:bg-rhino-950 dark:text-rhino-50">
    <header
      class="w-full bg-inherit px-2 py-2 sm:px-4 md:bg-transparent md:px-8 lg:px-12 xl:px-16">
      <Header />
    </header>
    <main
      class="w-full bg-inherit px-2 py-8 sm:px-4 md:bg-transparent md:px-8 lg:px-12 xl:px-16">
      <article class="prose-custom prose m-auto dark:prose-invert lg:prose-xl">
        <div>
          <div class="title">
            <h1 class="mb-2">{title}</h1>
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <p class="m-0 text-xs">{estimate} min read</p>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <footer
      class="w-full bg-inherit px-2 py-2 sm:px-4 md:bg-transparent md:px-8 lg:px-12 xl:px-16">
      <Footer />
    </footer>
    <style>
      .prose-custom {
        @apply prose-a:text-primary-600 dark:prose-a:text-primary-500;
      }
    </style>
  </body>
</html>
